.stories {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  overflow-x: auto;
  height: 150px;

  .story-icon {
    margin: 5px;
    position: relative;
    border: 5px solid transparent;
    border-radius: 90px;
    background-color: transparent;
    background-clip: padding-box;
    padding: 10px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.1);
    .profile-picture {
        box-shadow: 3px 3px 5px -1px inset rgba(0,0,0,0.3);
        position: relative;
        top: -10px;
        left: -10px;
        width: 70px;
        height: 70px;
        z-index: 101;
    }

    .name-label {
        font-weight: 500;
        display: block;
        line-height: 1.1;
        text-align: center;
    }
  }

  .story-icon::after {
    position: absolute;
    top: -5px; bottom: -5px;
    left: -5px; right: -5px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    content: '';
    z-index: -1;
    border-radius: 90px;
    z-index: 100;
  }
}
