.main-page {
    padding: 15px;
    overflow-y: scroll;

    .friends-container {
        .friends-header {
            display: flex;
            justify-content: space-between;
        }
    }

    
}