.profile-page {
  overflow: auto;
  height: calc(100% - 55px);

  .profile-paper {
    padding: 20px;
    display: flex;
    margin: 20px 200px;
  
    .showcase {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
  
      @media only screen and (max-width: 600px) {
        justify-content: center;
        .main {
          flex-basis: 100%;
          width: 100%;
        }
      }
  
      .stories {
        width: initial;
        
      }
    }
  
    @media only screen and (max-width: 1000px) {
      margin: 20px 20px;
    }
  }
}

.story-popover-paper{
    .story-list.can-post {
        margin-top: 0;
        height: calc(100% - 100px);
      }
}