.title-bar {
    header {
        position: fixed;
        min-height: 64px;

        .right-toolbar-items {
            display: flex;
            align-items: center;
            height: 64px;
        }

        
        @media only screen and (max-width: 600px) {
            & > div {
                align-items: center;
                justify-content: end !important;
            }
            
            .app-title {
                    display: none;
            }

            .right-toolbar-items {
                justify-content: space-between;
                width: 100%;
                .welcome  {
                    order :-1;
                }
            }
        }
        
    }

    .profile-picture {
        margin-right: 10px;
    }
    
    button {
        margin-left: 10px;
    }
}